@font-face{
    font-family:"Roboto Bold";
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Bold.ttf);
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Bold.ttf?#iefix) format("embedded-opentype"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Bold.ttf) format("woff"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Bold.ttf) format("truetype");
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}

@font-face{
    font-family:"Roboto Light";
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Light.ttf);
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Light.ttf?#iefix) format("embedded-opentype"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Light.ttf) format("woff"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Light.ttf) format("truetype");
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}

@font-face{
    font-family:"Roboto Regular";
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Regular.ttf);
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Regular.ttf?#iefix) format("embedded-opentype"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Regular.ttf) format("woff"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Regular.ttf) format("truetype");
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}

@font-face{
    font-family:"Roboto Thin";
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Thin.ttf);
    src:url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Thin.ttf?#iefix) format("embedded-opentype"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Thin.ttf) format("woff"),url(https://www.mazeqube.com/customer/tm/fonts/Roboto-Thin.ttf) format("truetype");
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}

body {
  font-family: "Roboto Light";
}

nav {
  font-family: "Roboto Bold";
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding-left: 10px;
    width: 70%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: #ffffff;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
  font-family: "Roboto Regular";
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: underline;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  font-family: "Roboto Regular";
  color: #1b75bc;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.nav-text-color{
  color: #dedede !important;
}

.nav-topmenu {
  padding-top: 20px !important;
}

.menubutton {
  color: black !important;
}

.imgwrapper {
  margin-top: -19.51px;
}

.footer-bottom {
  background: #100e1c;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.panel-body {
  padding: 15px;
  padding-left: 0px;
}

html {
    overflow-y: scroll; 
}

.container-margin {
    padding: 50px 50px 80px 15px;
    margin-right: auto;
}

.main-container{
  background: #dcdcdc;
}

.col3-padding{
  padding-bottom:10px;
}

.moody-logo{
  width:85%;
}

.randstad-logo{
  width:100%;
  margin-left: -30px;
}

.omnilink-logo{
  width:90%;
  padding-bottom: 25px;
  margin-top: -21px;
}

.bt-logo{
  padding-top: 9px;
}

.lb-logo{
  padding-top: 7px;
  width:100%;
  margin-left: 30px;
}

.glencore-logo{
  width:70%;
  margin-left: 105px;
}

.rh-logo{
  width:90%;
   margin-left: 13px;
}

.weil-logo{
  padding-top: 15px;
  width:90%;
  margin-left: -40px;
}

.nesle-logo{
  width:100%;
}

.fpv-logo{
  width:100%;
}

.nsi-logo{
  width:50%;
}

.gl-logo{
  width:77%;
  margin-left: 40px;
}

.bnp-logo{
  width:86%;
  margin-left: 45px;
  margin-top: -12px;
}

.row-margin1{
  margin-top: 40px;
}


.row-margin{
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .moody-logo{
    width:100%;
  }

  .randstad-logo{
    width:100%;
    margin-left: 2px;
    margin-top: 40px;
  }

  .omnilink-logo{
    width:90%;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-left: 24px;
  }

  .bt-logo{
    padding-top: 0px;
    margin-top: 21px;
    padding-left: 30px;
  }

  .rh-logo{
    width:90%;
    margin-left: 28px;
    padding-top: 35px;
  }

  .lb-logo{
    width:100%;
    margin-left: 12px;
    margin-top: 45px;
  }

  .glencore-logo{
    width:80%;
    margin-left: 40px;
    margin-top: 60px;
  }

  .nesle-logo{
    width:100%;
    margin-top: 30px;
  }

  .fpv-logo{
    width:100%;
    margin-top: 45px;
  }

  .nsi-logo{
    width:60%;
    margin-left: 75px;
    margin-top: 50px;
  }

  .weil-logo{
    margin-top: 40px;
    width:90%;
    margin-left: 20px;
  }

  .gl-logo{
    margin-top: 40px;
	width:77%;
    margin-left: 40px;
  }

  .bnp-logo{
	margin-top: 40px;
    width:86%;
    margin-left: 20px;
  }

  .row-margin{
    margin-top: 0px;
  }

  .container-margin{
    padding-right: 15px;
    margin-right: auto;
  }
  
  .img-height{
    height: 250px;
  }
  
  .tech-logo{
    height: 54px !important; 
    padding: 0px 15px !important;
  }
}

.row-margin{
  margin-top: 14px;
}

.tech-logo{
  height: 54px; 
  padding: 11px 15px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* @media only screen and (min-width: 769px) and (max-width:992px)*/
  /* For ipad: */

  .moody-logo{
    width:100%
  }

  .omnilink-logo{
    width:90%;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-left: 15px;
  }

  .randstad-logo {
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
  }

  .bt-logo{
    width:160%;
    margin-top: 8px;
    margin-left: -30px
  }

  .glencore-logo{
    margin-top: 32px;
  }

  .lb-logo{
    width:100%;
    margin-left: 20px;
    margin-top: 30px;
  }

  .fpv-logo{
    width:100%;
    margin-top: 27px;
  }

  .nsi-logo{
    margin-left: 0px;
    margin-top: 25px;
  }

  .weil-logo{
    margin-top: 27px;
    width:90%;
    margin-left: -25px;
  }

  .container-margin{
    margin-right: 52px;
    padding: 50px 100px 150px 40px;
  }

  .imgwrapper{
    margin-right: -18px;
  }

  .row-margin{
    margin-left: 30px;
  }

  .row-margin1{
  margin-top: 40px;
  margin-right: -70px;
  }

  .imgwrapper{
    margin-right: -83px;
  }

  .main-container{
    margin-right: -83px;
  }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px){
/* For ipad pro: */
  .moody-logo{
    width:85%
  }

  .bt-logo{
    width:110%
  }

  .container-margin{
    margin-right: auto;
  }

}